---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to BattleStep">
	<main>
    <h1 class="font-light text-3xl mt-4 ml-4">Battle Step</h1>
	</main>
</Layout>

<style>
</style>
