---
import GitHub from "../assets/GitHub.astro";

const currentYear = new Date().getFullYear();
---

<footer
  class="bg-slate-500 text-slate-700 rounded-b-md p-4 border-t border-t-slate-700"
>
  <div class="italic mb-2">
    Get motivated to reach your goals, step by step, every single day!
  </div>

  <div class="flex items-center justify-between">
    <div class="text-slate-700">
      Copyright &copy; 2024-{currentYear} RamdacXP<br>
      Impressum |
      <a href="/privacy" class="underline">Privacy Statement</a>
    </div>

    <div class="flex gap-1">
      <div class="hidden sm:block">Made with 🖤 on</div>
      <a href="https://github.com/ramdacxp/BattleStep" target="_blank">
        <GitHub class="w-6 fill-red-500" />
      </a>
    </div>
  </div>
</footer>
