---
// Static script in header: https://docs.astro.build/en/basics/astro-components/#the-component-script
// Dynamic script: https://docs.astro.build/en/guides/client-side-scripts/#script-processing
---

<span id="settingsName"></span>

<script>
  import { settings } from "../scripts/BattleStepSettings";
  document.getElementById("settingsName")!.innerText = settings.value?.name ?? "You";
</script>
