---
// Static script in header: https://docs.astro.build/en/basics/astro-components/#the-component-script
// Dynamic script: https://docs.astro.build/en/guides/client-side-scripts/#script-processing
---

<span id="settingsName"></span>

<script>
  import { DataStore } from "../scripts/DataStore";

  let name = new DataStore().getName() ?? "You";
  document.getElementById("settingsName")!.innerText = name;
</script>
